.ecs {
  font-family: "Open Sans", sans-serif !important;
}

.ecs-title {
  font-size: 50px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.ecs-container {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 60px;
}

#rtc-image {
  content: url("../Images/rtc.png");
  padding-left: 50px;
  height: 200px;
  width: 350px;
  float: left;
}

#ms-image {
  content: url("../Images/ms.png");
  padding-left: 50px;
  height: 200px;
  width: 350px;
  float: left;
}

.ecs-button {
  color: black;
  width: 125px;
  height: 40px;
  border: 2px solid black;
  border-radius: 10px;
  text-decoration: none;
}

.ecs-button a {
  color: inherit;
}

.ecs-button a:hover {
  color: black;
}

.ecs-header {
  float: left;
  padding-left: 20px;
}

.ecs-context {
  flex: 2;
  font-size: 17px;
  width: 60%;
  float: right;
  margin-top: -10px;
  padding-right: 120px;
  padding-left: 50px;
  flex-flow: wrap;
}

.ecs-context p {
  font-size: 17px;
  font-weight: 300;
  color: #454545;
}

.context-rtc {
  padding-top: 15px;
}

.context-math {
  padding-top: 40px;
}

@media screen and (min-width: 375px) and (max-width: 412px) {
  .ecs-title {
    padding-top: 35px;
    font-size: 35px;
    padding-bottom: 10px;
  }

  .ecs-container {
    padding: 10px 10px 25px 30px;
  }

  .ecs-header {
    padding-left: 0;
  }

  .ecs-context {
    padding: 10px 18px 10px 2px;
  }

  .ecs-context h1 {
    font-size: 22px;
  }

  .ecs-context p {
    font-size: 14px;
  }

  .ecs-button {
    margin-top: 0;
    background: white;
    width: 100px;
  }

  .ecs-button a {
    font-size: 12px;
  }

  #rtc-image,
  #ms-image {
    display: none;
  }
}
