.footer {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
}

.footer h1 {
  text-align: center;
  font-size: 35px;
}

.social {
  text-align: center;
  padding: 10px;
}

.fa-linkedin,
.fa-github,
.fa-envelope {
  padding: 15px 10px 0 10px;
  color: white;
}

#copyright {
  font-size: 12px;
  text-align: center;
  padding-top: 10px;
}
