@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400");

#small-summary-components {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  padding: 30px 15px 0 25px;
}

.summary {
  background: white;
  padding-bottom: 50px;
  width: 25%;
  padding-right: 20px;
}

#why-me {
  text-transform: uppercase;
  font-size: 50px;
  text-align: center;
  padding-top: 50px;
  color: black;
  font-weight: 300;
}

.summary-point {
  padding-left: 10px;
}

.summary-point p {
  float: right;
  width: 200px;
  padding-left: 4%;
  padding-top: 40px;
  font-size: 15px;
}

.summary-point .summary-icon {
  background: white;
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid rgba(100, 26, 16, 0.6);
  float: left;
}

.fa-book-reader,
.fa-laptop-code,
.fa-briefcase,
.fa-users,
.fa-lightbulb,
.fa-glasses,
.fa-star,
.fa-comments {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  display: block;
  color: rgba(100, 26, 16, 0.6);
}

@media screen and (min-width: 375px) and (max-width: 412px) {
  #small-summary-components {
    display: flex;
    flex-direction: column;
  }

  .summary {
    width: auto;
  }

  .summary-point p {
    width: 160px;
    padding-top: 30px;
  }

  .summary-point .summary-icon {
    padding-left: 0;
  }
}

/* FOR LARGER DESKTOPS */
@media screen and (min-width: 1600px) {
  .summary-point p {
    width: 275px;
  }

  .summary-point .summary-icon {
    margin-left: 40px;
  }
}
