@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400");

.summary {
  background: white;
  height: 500px;
}

#why-me {
  text-transform: uppercase;
  font-size: 50px;
  text-align: center;
  padding-top: 20px;
  color: black;
  font-weight: 300;
}

.summary-icon {
  background: white;
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid rgba(100, 26, 16, 0.6);
  float: left;
  margin-left: 10px;
}

.fa-book-reader {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  display: block;
  color: rgba(100, 26, 16, 0.6);
}

.fa-laptop-code {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  display: block;
  color: rgba(100, 26, 16, 0.6);
}

.fa-briefcase {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  display: block;
  color: rgba(100, 26, 16, 0.6);
}

.fa-users {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  display: block;
  color: rgba(100, 26, 16, 0.6);
}

.fa-lightbulb {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  display: block;
  color: rgba(100, 26, 16, 0.6);
}

.fa-glasses {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  display: block;
  color: rgba(100, 26, 16, 0.6);
}

.fa-star {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  display: block;
  color: rgba(100, 26, 16, 0.6);
}

.fa-comments {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  display: block;
  color: rgba(100, 26, 16, 0.6);
}

.summary-point p {
  float: right;
  width: 200px;
  padding-left: 20px;
  padding-top: 40px;
  font-size: 15px;
  font-family: "Ubuntu", sans-serif;
}

.flex-container-summ {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 40px;
}
