@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400");

.summary {
  background: white;
  padding-top: 30px;
  padding-bottom: 50px;
}

#why-me {
  text-transform: uppercase;
  font-size: 50px;
  text-align: center;
  padding-top: 20px;
  color: black;
  font-weight: 300;
}

.flex-container-summ {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: space-around;
  flex-flow: wrap;
  padding-top: 20px;
  padding-bottom: 40px;
}

.summary-point {
  width: 23%;
  height: auto;
  box-sizing: border-box;
}

.summary-point p {
  float: right;
  width: 200px;
  padding-left: 5%;
  padding-top: 40px;
  font-size: 15px;
  font-family: "Ubuntu", sans-serif;
}

.summary-point .summary-icon {
  background: white;
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid rgba(100, 26, 16, 0.6);
  float: left;
  margin-left: 10px;
}

.fa-book-reader,
.fa-laptop-code,
.fa-briefcase,
.fa-users,
.fa-lightbulb,
.fa-glasses,
.fa-star,
.fa-comments {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  display: block;
  color: rgba(100, 26, 16, 0.6);
}

@media screen and (min-width: 375px) and (max-width: 412px) {
  #why-me {
    font-size: 35px;
    padding-top: 0;
  }

  .flex-container-summ {
    padding-top: 0;
    padding-bottom: 0;
  }

  .summary-point {
    width: 100%;
  }

  .summary-point .summary-icon {
    width: 100px;
    height: 100px;
    margin: 10px 0 10px 45px;
  }

  .fa-book-reader:before,
  .fa-laptop-code:before,
  .fa-briefcase:before,
  .fa-users:before,
  .fa-lightbulb:before,
  .fa-glasses:before,
  .fa-star:before,
  .fa-comments:before {
    position: absolute;
    top: 30%;
    left: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    display: block;
    color: rgba(100, 26, 16, 0.6);
    font-size: 40px;
  }

  .summary-point p {
    padding-left: 15px;
    width: 220px;
    padding-right: 20px;
  }
}

/* FOR LARGER DESKTOPS */
@media screen and (min-width: 1600px) {
  .summary-point {
    width: 20%;
  }

  .summary-point .summary-icon {
    margin-left: 40px;
  }
}
