@import url("https://fonts.googleapis.com/css?family=Catamaran:400,600,700,800");

* {
  box-sizing: border-box;
}

.work {
  background: #f7f7f7 !important;
  color: black;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin: 20px;
  font-size: 20px;
  border: 5px solid rgba(100, 26, 16, 0.6);
  border-radius: 0.5cm;
  margin-bottom: 40px;
  height: 300px;
  width: 32%;
}

.work-header {
  text-align: center;
  padding-top: 50px;
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 300;
}

.work-loc {
  padding-top: 80px;
  font-family: "Catamaran", sans-serif;
  font-weight: 700;
  font-size: 45px;
}

.work-title {
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: "Catamaran", sans-serif;
  font-size: 24px;
  font-weight: 400;
}

#work-subheader {
  color: rgba(117, 117, 117, 0.8);
  padding-top: 20px;
  text-align: center;
  font-size: 20px;
}

#small-work-components {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.work-desc {
  padding: 20px 20px 20px 10px;
  font-size: 14px;
  text-align: center;
  line-height: 25px;
  margin: auto;
}

.work li {
  padding-bottom: 8px;
}

@media screen and (min-width: 375px) and (max-width: 412px) {
  .work {
    width: 90%;
    height: auto;
  }

  .work-header {
    font-size: 35px;
    padding: 35px 5px 0 5px;
  }

  #work-subheader {
    display: none;
  }

  #small-work-components {
    display: block;
    padding-bottom: 1px;
  }

  .work-loc {
    font-size: 30px;
    padding-top: 20px;
    margin-bottom: 0px;
  }

  .work-title {
    font-size: 20px;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .work-desc {
    padding: 0;
    font-size: 12px;
    display: block !important;
  }

  .work-desc ul {
    padding-left: 28px;
  }

  .work-desc li {
    text-align: left;
    padding: 0 10px 10px 10px;
  }
}

/* FOR LARGER DESKTOPS */
@media screen and (min-width: 1600px) {
  .work-desc {
    padding: 50px 20px 0 20px;
  }
}
